<nav class="w-full fixed top-0 left-0 z-20">
  <div class="mx-auto px-4 pt-4 flex justify-center">
    <div
  class="
    flex items-center gap-6
    w-fit
    rounded-xl md:rounded-2xl
    bg-white/10 backdrop-blur-xl border border-white/10
    pl-4 pr-3 py-2
    md:pl-6 md:pr-5 md:py-3
    lg:pl-8 lg:pr-7 lg:py-4
  "
>

      
     <a href="/" class="flex items-center gap-4">
  <img
    src="/images/logo.png"
    alt="Athlete Connection Sports Group logo."
    class="h-6 w-auto"
  />
  <span class="sr-only">Athlete Connection Sports Group</span>
</a>


      <div class="flex gap-4 md:gap-6 text-sm md:text-base text-muted">
        <a href="/" class="hover:text-white">Home</a>
        <a href="/services" class="hover:text-white">Services</a>
        <a href="/contact" class="hover:text-white">Contact</a>
	<a href="/athletes" class="hover:text-white">Athletes</a>
      </div>

    </div>
  </div>
</nav>
